// normalize
@import "assets/styles/normalaize.scss";
// fonts
@import "assets/styles/fonts.scss";
// constants
@import "assets/styles/constants.scss";
// components
@import "assets/styles/menu.scss";
@import "assets/styles/logo.scss";
@import "assets/styles/buttons.scss";
// sections
@import "assets/styles/header.scss";
@import "assets/styles/favorite-animal-section.scss";
@import "assets/styles/backstage-section.scss";
@import "assets/styles/pets-section.scss";

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  max-width: 100%;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  background: #e5e5e5;
}
body {
  width: 1600px;
  margin: 0 auto;
  font-family: $font-family-main;
  font-size: 1.6rem;
  font-style: normal;
  background: $color-white;
  // overflow: hidden;
}
.container {
  margin: 0 auto;
  max-width: $content-width;
  padding: 0 20px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
// FLEX
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
