.menu__item {
  &:not(:last-of-type) {
    padding-right: 58px;
  }
  a {
    display: block;
    font-weight: 500;
    line-height: 140%;
    color: $color-white;
    transition: all 0.5s ease;
    &.active-link {
      color: transparent;
      -webkit-background-clip: text;
      background-image: $color-orange;
    }
    &:hover,
    &:active {
      color: transparent;
      -webkit-background-clip: text;
      background-image: $color-orange;
    }
  }
}
@media (max-width: 1000px) {
  .menu__item {
    &:not(:last-of-type) {
      padding-right: 48px;
    }
  }
}
@media (max-width: 640px) {
  .menu__item {
    &:not(:last-of-type) {
      padding-right: 37px;
    }
  }
}
@media (max-width: 320px) {
  .menu__item {
    &:not(:last-of-type) {
      padding-right: 0;
    }
  }
}
