.social-nav {
  display: flex;
  flex-direction: column;
  .social-nav-link {
    &:not(:last-of-type) {
      margin-bottom: 10px;
    }
  }
}
.social-nav-link {
  height: 26px;
  background-repeat: no-repeat;
  color: #ffffff;
  display: flex;
  transition: transform 0.5s ease;
  span {
    margin-top: 5px;
    margin-left: 38px;
  }
  &:hover {
    filter: brightness(0) saturate(100%) invert(55%) sepia(97%) saturate(1154%) hue-rotate(350deg) brightness(102%)
      contrast(99%);
  }
  &:active {
    filter: invert(33%) sepia(20%) saturate(1267%) hue-rotate(61deg) brightness(101%) contrast(101%);
  }
}
.facebook {
  background-image: url("./../assets/svg/facebook.svg");
}
.twitter {
  background-image: url("./../assets/svg/twitter.svg");
}
.instagram {
  background-image: url("./../assets/svg/instagram.svg");
}
.youtube {
  background-image: url("./../assets/svg/youtube.svg");
}
