html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", Verdana, serif;
  font-size: 1.6rem;
  font-weight: 400;
  font-style: normal;
  line-height: 130%;
  // add color!
  // footer be always at the end of page:
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  // transition: all 1s ease-in-out;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}
.container {
  margin: 0 auto;
  max-width: 1240px;
  padding: 0 40px;
  @media (max-width: 1000px) {
    max-width: 1000px;
    padding: 0 30px;
  }
  @media (max-width: 640px) {
    max-width: 640px;
    padding: 0 20px;
  }
  @media (max-width: 320px) {
    max-width: 320px;
    padding: 0 10px;
  }
}

// FLEX
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.centered-text {
  text-align: center;
}
