html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", Verdana, serif;
  font-size: 1.6rem;
  font-weight: 400;
  font-style: normal;
  line-height: 130%;
  // add color!
  // footer be always at the end of page:
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transition: all 1s ease-in-out;
}
body.lock {
  overflow: hidden;
}
.overlay {
  position: fixed;
  z-index: 5;
  opacity: 0;
  transition: 0.2s ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
.overlay.active {
  opacity: 0.8;
  pointer-events: all;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}
.container {
  margin: 0 auto;
  max-width: 1240px;
  padding: 0 40px;
  @media (max-width: 1599px) {
    padding: 0 30px;
  }
  @media (max-width: 999px) {
    padding: 0 20px;
  }
  // @media (max-width: 768px) {
  //   padding: 0 20px;
  // }
  @media (max-width: 480px) {
    padding: 0 10px;
  }
}

// FLEX
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.centered-text {
  text-align: center;
}
