.header {
  background-color: $color-black;
  z-index: 3;
}
.header__container {
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-and-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 63px;
}
.header__navigation {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 999px) {
  .header__container {
    height: $header-height-small;
  }
  .header__menu,
  .design-by-container {
    display: none;
  }
}
