.pets-section {
  background: url("../../assets/images/flower_foto2.png") no-repeat bottom left,
    url("../../assets/images/flower_foto3.png") no-repeat bottom right;
  padding-bottom: 10rem;
  .container {
    max-width: 1400px;
  }
  .carousel {
    margin-bottom: 80px;
  }
}
