.testimonials-section {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    background: url("../../assets/images/leav_foto.png") 0 0 no-repeat;
    width: 300.92px;
    height: 295.45px;
    bottom: -19px;
    right: -53px;
    z-index: -1;
  }
  padding: 140px 0 180px 0;
  h2 {
    @include font_36;
    color: $color-black-blue;
    margin-bottom: 46px;
  }
  .testimonials-cards-container {
    margin-bottom: 21px;
  }
  .testimonials-cards {
    width: 100%;
    margin-bottom: 31px;
  }
}
.testimonials-cards-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 100%;
}
.testimonials-card {
  width: 268px;
  height: 391px;
  border-radius: 20px;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
  background: $color-gray-light;
  background: linear-gradient($color-gray-light, $color-gray-light) padding-box, $color-pink-gradient border-box;
  border: solid 2px transparent;
  padding: 15px 15px 15px 15px;
  .testimonials-card__user {
    margin-bottom: 10px;
  }
}
// user fhoto
.user-photo {
  width: 37px;
  height: 37px;
}
.one .user-photo {
  background-image: url("../../assets/svg/user_icon.svg");
}
.two .user-photo {
  background-image: url("../../assets/images/user_icon_2.png");
}
.three .user-photo {
  background-image: url("../../assets/images/user_icon_3.png");
}
.four .user-photo {
  background-image: url("../../assets/images/user_icon_4.png");
}
// user-information
.user-information {
  margin-left: 10px;
  .user-name {
    line-height: 120%;
  }
  .local-date {
    display: flex;
    align-items: center;
  }
  .local,
  .date {
    @include font_15;
    color: $color-gray-smoky-light;
  }
  .point {
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background-color: $color-gray-smoky-light;
    margin: 0 5px;
  }
}
// text-of-testimonial
.testimonials-card__text {
  height: 309px;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  @include font_15;
  color: $color-gray;
  overflow: hidden;
}
// line-scroll
.line-scroll {
  appearance: none;
  width: 600px;
  height: 8px;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
  border: solid 0.5px transparent;
  background: linear-gradient($color-gray-light, $color-gray-light) padding-box, $color-pink-gradient border-box;
  border-radius: 5px;
  &:hover {
    opacity: 1;
  }
}
.testimonials-cards {
  display: flex;
  flex-direction: column;
  align-items: center;

  & ::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 115px;
    height: 6px;
    border-radius: 5px;
    background: $color-orange-light;
    cursor: pointer;
  }
}
.testimonials-section__button-container {
  justify-content: flex-start;
}

@media (max-width: 1599px) {
  .testimonials-section {
    padding: 100px 0 140px 0;
    &::before {
      background-size: 200px 323px;
      width: 200px;
      height: 323px;
      bottom: -84px;
      right: 0px;
    }
    h2 {
      margin-bottom: 32px;
    }
    .testimonials-cards {
      margin-bottom: 52px;
      & ::-webkit-slider-thumb {
        width: 75px;
      }
    }
    .line-scroll {
      margin-right: 12px;
    }
  }
  .testimonials-card {
    padding: 12px 15px 8px 10px;
    width: 293px;
    &:nth-child(n + 4) {
      display: none;
    }
  }
  .line-scroll {
    width: 390px;
  }
}
@media (max-width: 999px) {
  .testimonials-section {
    padding: 60px 0 80px 0;
    &::before {
      background-size: 116px 204px;
      width: 116px;
      height: 204px;
      bottom: -69px;
      right: -4px;
    }
    // background-size: 116px 204px;
    // background-position: bottom -69px right -4px;
    h2 {
      margin-bottom: 30px;
    }
    .testimonials-cards {
      margin-bottom: 40px;
    }
    .testimonials-cards-container {
      margin-bottom: 0px;
    }
  }
  .testimonials-section__button-container {
    justify-content: center;
    .button {
      min-width: 240px;
    }
  }
  .testimonials-cards-container {
    flex-direction: column;
    gap: 15px;
  }
  .testimonials-card {
    width: 100%;
    height: 109px;
    .testimonials-card__user {
      margin-bottom: 11px;
    }
    .testimonials-card__text {
      margin-left: 6px;
    }
  }
  .line-scroll {
    display: none;
  }
}
@media (max-width: 639px) {
  .testimonials-section {
    padding: 30px 0 60px 0;
    &::before {
      background: url("../../assets/images/leav_foto_mobile.png") 0 0 no-repeat;
      background-size: 51px 94px;
      width: 51px;
      height: 94px;
      bottom: -29px;
      right: 0px;
    }
    h2 {
      @include font_24;
      margin-bottom: 20px;
    }
    .testimonials-cards {
      margin-bottom: 30px;
    }
  }
  .testimonials-card {
    padding: 7px 15px 10px 10px;
    .testimonials-card__user {
      margin-bottom: 9px;
      .user-information {
        margin-left: 7px;
        margin-top: 2px;
      }
    }
  }
}
