.backstage-section {
  background: url("../assets/images/flower_foto1.png") no-repeat top 12px right -93px;
  & .backstage-section__content {
    padding: 140px 0 176px 0;
  }
}
.backstage-section__content {
  align-items: flex-start;
}
.backstage-section__img-content {
  & img {
    max-width: 100%;
  }
}
.backstage-section__text-content {
  max-width: 465px;
  color: $color-black-blue;
  margin-left: 50px;
  & h2 {
    margin-bottom: 20px;
  }
  & p {
    line-height: 22px;
    &:first-of-type {
      margin-bottom: 54px;
    }
  }
  & h3 {
    margin-bottom: 34px;
  }
}
