.top-section {
  min-height: 386px;
  background: url("./../assets/images/panda_bg.jpg") center no-repeat;
  background-size: cover;
}
.donate-page {
  .pick-feed-section {
    background: $gradient-feed-friend;
    padding: 40px 0px 180px 0px;
  }
  .pick-feed-section__title {
    @include font_36;
    color: $color-white;
    margin-bottom: 9px;
  }
  .pick-feed-section__text {
    @include font_16_bold;
    color: $color-white;
    margin-bottom: 45px;
  }
  .pick-feed-section__caption {
    @include font_36;
    color: $color-orange-light;
    margin-bottom: 60px;
  }
}
.donate {
  border-radius: 20px;
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
  padding: 40px 92px 62px 92px;
  color: $color-black-blue;
  .donate-form {
    margin-bottom: 30px;
  }
}
.donate__diet-info {
  margin: 0 11px 50px 0;
}
.donate__title {
  @include font_48;
  color: $color-orange-light;
  margin-bottom: 20px;
  margin-right: 11px;
}
.donate__subtitle {
  @include font_24;
  margin-bottom: 60px;
  margin-left: 2px;
}

// diet-info
.diet-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
}
.diet-info__days {
  position: relative;
  p:first-of-type {
    font-weight: 500;
    font-size: 72px;
    line-height: 80%;
    text-align: center;
    color: $color-black;
    margin-bottom: 15px;
  }
  padding-top: 60px;
  // margin: 53px 11px 0 0;
  &::before {
    position: absolute;
    background-image: url("./../assets/svg/x_icon.svg");
    background-repeat: no-repeat;
    content: "";
    width: 14px;
    height: 14px;
    top: 85px;
    right: -25px;
  }
}
.diet-info__img {
  width: 284px;
  height: 246px;
}

// donate-form
.donate-form__progress-bar {
  margin-bottom: 50px;
}
.donate-form__amount {
  margin-left: 4px;
  margin-bottom: 26px;
}
.donate-form__options {
  margin-right: 11px;
}

// progress-bar
.progress-bar__title {
  margin-left: 5px;
  margin-bottom: 17px;
}
.progress-bar__background {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 27px;
  background: #404950;
  border-radius: 2px;
  margin-bottom: 13px;
}
.progress-bar__background-line {
  width: 93%;
  height: 2px;
  background: #72828e;
  z-index: 1;
}
fieldset {
  border: 0 none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.progress-bar__input:checked,
.progress-bar__input:not(:checked) {
  display: none;
}
.progress-bar__label {
  position: relative;
  width: 65px;
  display: inline-block;
  @include font_26_bold;
  color: $color-black-blue;
}
.progress-bar__input:not(:checked) + label,
.progress-bar__input:checked + label {
  cursor: pointer;
  &::before {
    content: "";
    position: absolute;
    left: 28px;
    bottom: 57px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $color-yellow;
    z-index: 2;
  }
  &::after {
    content: "";
    position: absolute;
    left: 13px;
    bottom: 43px;
    width: 40px;
    height: 40px;
    background: url("./../assets/svg/roller_icon.svg") no-repeat;
    z-index: 3;
  }
}
.progress-bar__input:not(:checked) + label:after {
  opacity: 0;
}
.progress-bar__input:checked + label {
  &::after {
    position: absolute;
    left: 13px;
    bottom: 43px;
    transition: all 250ms cubic-bezier(0.4, 0.25, 0.3, 1);
    content: "";
    width: 40px;
    height: 40px;
    background: url("./../assets/svg/roller_icon.svg") no-repeat;
  }
}
.progress-bar__input:checked + label,
.progress-bar__input:checked + label:hover,
.progress-bar__input:not(:checked) + label:hover {
  color: $color-orange-light;
  &::before {
    background-color: $color-orange-light;
  }
}

// AMOUNT
input[type="number"] {
  margin: 0 auto;
  width: 268px;
  height: 52px;
  border: 1px solid #929699;
  border-radius: 2px;
  font-size: 16px;
  line-height: 140%;
  padding: 16px 9px;
  background: url("./../assets/svg/dollar.svg") center right 10px no-repeat;
  &:focus {
    outline: 1px solid $color-green;
    border: 0;
    color: $color-green;
    background: url("./../assets/svg/greenDollar.svg") center right 10px no-repeat;
  }
  &:invalid,
  &:invalid ~ .submit {
    outline: 1px solid $color-red;
    border: 0;
    color: $color-red;
    background: url("./../assets/svg/redDollar.svg") center right 10px no-repeat;
  }
}
input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

// OPTIONS
.donate-form__options {
  display: flex;
  align-items: center;
  justify-content: center;
  div:not(:last-child) {
    margin-right: 50px;
  }
  margin-bottom: 30px;
}
.options__input {
  display: none;
}
.options__label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  user-select: none;
}
.options__label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #fe9013;
  border-radius: 50%;
  margin-right: 6px;
}
// Checked
.donate-form__options input[type="radio"]:checked + label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: $color-green;
  border: 1px solid $color-green;
  border-radius: 50%;
  margin-right: 6px;
}

@media (max-width: 1599px) {
  .top-section {
    min-height: 390px;
    background: url("./../assets/images/panda_bg_donate_desctop.png") center bottom no-repeat;
    background-size: cover;
  }

  .donate-page {
    .pick-feed-section {
      padding: 40px 0px 30px 0px;
    }
    .pick-feed-section__title {
      margin-bottom: 30px;
      margin-right: 100px;
    }
    .pick-feed-section__text {
      margin-bottom: 45px;
    }
    .pick-feed-section__caption {
      margin-bottom: 40px;
    }

    .footer {
      .footer__menu {
        margin-left: 82px;
        width: 333px;
      }
    }
  }
  .donate {
    padding: 20px 44px 46px 44px;
    .donate-form {
      margin-bottom: 30px;
    }
  }
  .donate__title {
    margin: 0px 13px 10px 0px;
  }
  .donate__subtitle {
    margin-bottom: 60px;
  }
  // PROGRESS BAR
  .progress-bar__title {
    margin-left: 20px;
  }
  .progress-bar__background {
    margin: 0px 20px 13px 20px;
  }
  .progress-bar__background-line {
    width: 97%;
  }
  fieldset {
    margin-left: 17px;
  }
  #value5000 + label {
    display: none;
  }
  .progress-bar__label {
    width: 130px;
  }
  .progress-bar__input:not(:checked) + label::before,
  .progress-bar__input:checked + label::before {
    content: "";
    left: 15px;
  }
  .progress-bar__input:not(:checked) + label::after,
  .progress-bar__input:checked + label::after {
    content: "";
    left: 0px;
  }
  .donate-form__amount {
    margin-left: 0px;
  }
  .donate-form__options {
    margin-right: 19px;
  }
}

@media (max-width: 999px) {
  .top-section {
    min-height: 369px;
    background: url("./../assets/images/panda_bg_donate_tablet.png") center bottom no-repeat;
    background-size: 100%;
  }
  .donate-page {
    .container {
      padding: 0 20px;
    }
    .pick-feed-section {
      padding: 30px 0px 46px 0px;
    }
    .pick-feed-section__title {
      @include font_24;
      margin-bottom: 20px;
      margin-right: 0px;
    }
    .pick-feed-section__text {
      margin-bottom: 30px;
    }
    .pick-feed-section__caption {
      margin-bottom: 30px;
    }
    .footer {
      .footer__menu {
        margin-left: 0px;
        width: 300px;
      }
    }
  }

  .donate {
    padding: 30px 0px 31px 0px;
  }
  .donate__title {
    margin-bottom: 20px;
    margin-right: 0px;
  }
  .donate__subtitle {
    margin-bottom: 50px;
    margin-right: 0px;
    text-align: center;
  }
  .donate__diet-info {
    margin: 0 11px 42px 0;
  }
  // DIET INFO
  .diet-info__days {
    padding-top: 57px;
    p:first-of-type {
      margin-bottom: 10px;
    }
    &::before {
      top: 81px;
    }
  }
  // PROGRESS BAR
  .progress-bar__background {
    margin-bottom: 13px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .progress-bar__background-line {
    width: 87%;
  }
  .progress-bar__title {
    margin-left: 10px;
    margin-bottom: 5px;
  }

  #value2000 + label,
  #value1000 + label {
    display: none;
  }
  .progress-bar__input:not(:checked) + label::before,
  .progress-bar__input:checked + label::before {
    content: "";
    left: 18px;
  }
  .progress-bar__input:not(:checked) + label::after,
  .progress-bar__input:checked + label::after {
    content: "";
    left: 2px;
  }
  input[type="number"] {
    width: 180px;
    height: 42px;
  }
  .donate-form__amount {
    margin-bottom: 31px;
  }
}
@media (max-width: 639px) {
  .top-section {
    min-height: 221px;
    background: url("./../assets/images/panda_bg_donate_mobile.png") center bottom no-repeat;
    background-size: 100%;
  }
  .donate-page {
    .container {
      padding: 0 10px;
    }
    .pick-feed-section__caption {
      @include font_24;
      margin-bottom: 30px;
    }
    .pick-feed-section__text {
      margin-bottom: 26px;
    }
    .pick-feed-section {
      padding: 30px 0px 22px 0px;
    }
  }
  .donate {
    padding: 20px 0px 20px 0px;
    .centered-text {
      margin-left: -1px;
    }
  }
  .donate__title {
    @include font_24;
    margin-bottom: 11px;
  }
  .donate__subtitle {
    @include font_16;
    margin-bottom: 12px;
    margin-right: 0px;
    text-align: center;
  }
  // DIET INFO
  .diet-info {
    gap: 50px;
  }
  .donate__diet-info {
    margin: 0px;
    margin-bottom: 4px;
  }
  .diet-info__img {
    width: 160.15px;
    height: 138.72px;
  }
  .diet-info__days {
    padding-top: 30px;
    p:first-of-type {
      font-size: 40.6015px;
      margin-bottom: 8px;
    }
    p:last-child {
      font-weight: 400;
      font-size: 9.02255px;
      line-height: 140%;
    }
    &::before {
      background-image: url("./../assets/svg/x_icon_small.svg");
      width: 8px;
      top: 44px;
      right: -13px;
    }
  }
  // PROGRESS BAR
  .donate-form__progress-bar {
    margin-bottom: 25px;
  }
  .progress-bar__background {
    height: 13.5px;
    margin-bottom: 5px;
  }
  .progress-bar__title {
    margin-left: 0px;
    margin-bottom: 8px;
  }
  .progress-bar__label {
    width: 74px;
    font-size: 13px;
    margin-left: -9px;
  }
  .progress-bar__input:not(:checked) + label::before,
  .progress-bar__input:checked + label::before {
    content: "";
    left: 9px;
    bottom: 29px;
    width: 5px;
    height: 5px;
  }
  .progress-bar__input:not(:checked) + label::after,
  .progress-bar__input:checked + label::after {
    content: "";
    left: 2px;
    bottom: 21px;
    width: 20px;
    height: 20px;
    background: url("./../assets/svg/roller_icon_small.svg") no-repeat;
  }
  .progress-bar__input:not(:checked) + label::after,
  .progress-bar__input:checked + label::after {
    content: "";
    left: 2px;
    bottom: 21px;
    width: 20px;
    height: 20px;
    background: url("./../assets/svg/roller_icon_small.svg") no-repeat;
  }
  // AMOUNT
  .donate-form__amount {
    margin-bottom: 24px;
  }
  // OPTIONS
  .donate-form__options {
    margin-right: 21px;
    margin-bottom: 27px;
  }
}
