@charset "UTF-8";
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

@font-face {
  font-family: Roboto;
  src: url("../assets/fonts/Roboto-Regular.ttf");
  font-weight: 100;
}
@font-face {
  font-family: Roboto;
  src: url("../assets/fonts/Roboto-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: Roboto;
  src: url("../assets/fonts/Roboto-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Roboto;
  src: url("../assets/fonts/Roboto-Bold.ttf");
  font-weight: 700;
}
.menu {
  width: 472px;
}
.menu .menu-item:not(:last-of-type) {
  margin-right: 58px;
}

.menu-item a {
  display: block;
  font-weight: 500;
  line-height: 140%;
  color: white;
  transition: all 0.5s ease;
}
.menu-item a:hover, .menu-item a:active {
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
}

.logo {
  max-width: 82px;
}
.logo img {
  vertical-align: bottom;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  width: 298px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: white;
  padding: 16px 0;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  transition: all 1s ease;
}
.button:hover {
  background: linear-gradient(113.96deg, #e47209 1.49%, #e47209 101.44%);
}
.button:active {
  background: #4b9200;
}
.button:disabled {
  background: #767474;
}

.button-ellipse {
  color: white;
  text-align: center;
  width: 62px;
  height: 62px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 31px;
  border: none;
  cursor: pointer;
  transition: all 1s ease;
}
.button-ellipse:hover {
  background: linear-gradient(113.96deg, #e47209 1.49%, #e47209 101.44%);
}
.button-ellipse:active {
  background: #4b9200;
}
.button-ellipse:disabled {
  background: #767474;
}

.header {
  width: 100%;
  background-color: black;
  padding: 14px 0;
}
.header .logo, .header .menu {
  margin-right: 63px;
}

.favorite-animal-section {
  height: 700px;
  background: url("../assets/images/giant_panda.png") 50% no-repeat;
  background-color: black;
}
.favorite-animal-section .container {
  display: flex;
  justify-content: end;
}
.favorite-animal-section .favorite-animal-section__content {
  padding-top: 86px;
}

.favorite-animal-section__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 500px;
}
.favorite-animal-section__content::before {
  content: "";
  position: absolute;
  top: 12px;
  right: 110px;
  z-index: 1;
  width: 465px;
  height: 465px;
  border-radius: 50%;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
}
.favorite-animal-section__content h2 {
  color: white;
  font-weight: 700;
  font-size: 106.496px;
  line-height: 75%;
  text-transform: uppercase;
  z-index: 2;
  margin-bottom: 60px;
}
.favorite-animal-section__content h2 span {
  color: #ffee2e;
}

.backstage-section {
  background: url("../assets/images/flower_foto1.png") no-repeat top 12px right -93px;
}
.backstage-section .backstage-section__content {
  padding: 140px 0 176px 0;
}

.backstage-section__content {
  align-items: flex-start;
}

.backstage-section__img-content img {
  max-width: 100%;
}

.backstage-section__text-content {
  max-width: 465px;
  color: #333b41;
  margin-left: 50px;
}
.backstage-section__text-content h2 {
  margin-bottom: 20px;
}
.backstage-section__text-content p {
  line-height: 22px;
}
.backstage-section__text-content p:first-of-type {
  margin-bottom: 54px;
}
.backstage-section__text-content h3 {
  margin-bottom: 34px;
}

.pets-section {
  background: url("../assets/images/flower_foto2.png") no-repeat bottom left, url("../assets/images/flower_foto3.png") no-repeat bottom right;
  text-align: center;
}
.pets-section .carousel {
  margin-bottom: 80px;
}
.pets-section .button {
  margin-bottom: 100px;
}

.carousel {
  position: relative;
}
.carousel .prev {
  position: absolute;
  left: -82px;
  top: 405px;
}
.carousel .next {
  position: absolute;
  right: -82px;
  top: 405px;
}

.pets-cards-gallery {
  display: grid;
  grid-template-columns: repeat(3, 366px);
  grid-template-rows: repeat(2, 426px);
  grid-column-gap: 29px;
  grid-row-gap: 20px;
}

.card {
  max-width: 366px;
  min-height: 426px;
  border-radius: 5px;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
  border: 1px solid orange;
  overflow: hidden;
}
.card:hover {
  cursor: pointer;
}
.card:hover img {
  opacity: 0.7; /* Высветляем картинку, но она становится темнее, так как под ней черный фон */
  transform: scale(1.1); /* Увеличиваем масштаб */
}
.card:hover .card-ifo {
  opacity: 1;
}

.card-img {
  display: inline-block; /* Строчно-блочный элемент */
  overflow: hidden; /* Скрываем всё за контуром */
  background: #000; /* У блока, оборачивающего картинку при наведении будет просвечивать черный фон */
}
.card-img img {
  max-width: 100%;
  width: 366px;
  height: 366px;
  opacity: 1;
  transition: opacity 0.2s linear, transform 0.2s linear; /* Плавное изменение прозрачности и увеличения */
  display: block; /* Убираем небольшой отступ снизу */
}

.card-ifo {
  width: 100%;
  padding: 8px 12px 8px 16px;
}

.card-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  font-weight: 300;
  font-size: 15px;
}
.card-text h3 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 140%;
}

.pick-feed-section {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #febdab 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%);
  padding: 69px 220px 100px 220px;
}
.pick-feed-section .container {
  padding: 0;
}

.pick-feed-section__content {
  border-radius: 20px;
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
  padding: 40px 40px 60px 40px;
  color: #333b41;
}
.pick-feed-section__content h2 {
  color: #fe9013;
  margin-bottom: 32px;
}
.pick-feed-section__content .pick-feed-section__font1, .pick-feed-section__content .pick-feed-section__font2, .pick-feed-section__content .pick-feed-section__font3 {
  padding-left: 60px;
}
.pick-feed-section__content .pick-feed-section__font1 {
  margin-bottom: 40px;
}
.pick-feed-section__content .pick-feed-section__font2 {
  margin-bottom: 10px;
}
.pick-feed-section__content .pick-feed-section__font3 {
  margin-bottom: 60px;
}
.pick-feed-section__content h3 {
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  margin-bottom: 40px;
}

.pick-feed-section__font2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
}

.pick-feed-section__font3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
}
.pick-feed-section__font3 a {
  color: #333b41;
  border-bottom: 1px solid #fe9013;
}
.pick-feed-section__font3 a:hover {
  color: #fe9013;
}

.pick-feed-cards {
  display: flex;
  justify-content: space-between;
  width: 764px;
  height: 244px;
  padding-top: 1px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.pick-feed-cards .feed-card {
  width: 168px;
  height: 168px;
  border: solid 1px;
  border-radius: 5px;
  border-color: #fe9013;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
}
.pick-feed-cards .one {
  width: 168px;
}
.pick-feed-cards .one .feed-card {
  background-image: url("../assets/svg/pay.svg");
}
.pick-feed-cards .one .feed-card::after {
  content: url("../assets/svg/vector.svg");
  position: relative;
  left: 196px;
  top: 60px;
}
.pick-feed-cards .two {
  width: 168px;
}
.pick-feed-cards .two .feed-card {
  background-image: url("../assets/svg/zoo.svg");
}
.pick-feed-cards .two .feed-card::after {
  content: url("../assets/svg/vector.svg");
  position: relative;
  left: 196px;
  top: 56px;
}
.pick-feed-cards .three {
  width: 168px;
}
.pick-feed-cards .three .feed-card {
  background-image: url("../assets/svg/monkey.svg");
}
.pick-feed-cards p {
  line-height: 140%;
  color: #333b41;
  padding-top: 30px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  background: #e5e5e5;
}

body {
  width: 1600px;
  margin: 0 auto;
  font-family: "Roboto", Verdana, serif;
  font-size: 1.6rem;
  font-style: normal;
  background: white;
}

h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
}

.font_24 {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.centered_text {
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
