// normalize
@import "./normalaize.scss";
// fonts
@import "./fonts.scss";
// constants
@import "./constants.scss";
// components
@import "./menu.scss";
@import "./logo.scss";
@import "./buttons.scss";
// sections
@import "./layouts/header.scss";
@import "./layouts/favorite-animal-section.scss";
@import "./layouts/backstage-section.scss";
@import "./layouts/pets-section.scss";
@import "./layouts/pick-feed-section.scss";
@import "./layouts/testimonials-section.scss";

html {
  font-size: 10px;
  scroll-behavior: smooth;
  background: #e5e5e5;
}
body {
  width: 1600px;
  margin: 0 auto;
  font-family: "Roboto", Verdana, serif;
  font-size: 1.6rem;
  font-style: normal;
  background: $color-white;
  // overflow: hidden;
}
.container {
  margin: 0 auto;
  max-width: 1200px; // 1600 - 220*2
  padding: 0 20px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
// FLEX
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.centered_text {
  text-align: center;
}
