@charset "UTF-8";
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", Verdana, serif;
  font-size: 1.6rem;
  font-weight: 400;
  font-style: normal;
  line-height: 130%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 1s ease-in-out;
}

body.lock {
  overflow: hidden;
}

.overlay {
  position: fixed;
  z-index: 5;
  opacity: 0;
  transition: 0.2s ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.overlay.active {
  opacity: 0.8;
  pointer-events: all;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  max-width: 1240px;
  padding: 0 40px;
}
@media (max-width: 1599px) {
  .container {
    padding: 0 30px;
  }
}
@media (max-width: 999px) {
  .container {
    padding: 0 20px;
  }
}
@media (max-width: 480px) {
  .container {
    padding: 0 10px;
  }
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.centered-text {
  text-align: center;
}

.menu {
  width: 100%;
}

.menu__list {
  display: flex;
  gap: 58px;
}

.menu__link {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: white;
  transition: all 0.5s ease;
}
.menu__link.active-link {
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
}
.menu__link:hover, .menu__link:active {
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
}

.footer .menu__link {
  font-weight: 400;
}

@media (max-width: 1599px) {
  .menu__list {
    gap: 48px;
  }
}
@media (max-width: 999px) {
  .menu__list {
    gap: 37px;
  }
}
@media (max-width: 639px) {
  .menu__list {
    gap: 30px;
  }
}
.logo__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 82px;
  height: 52px;
  background-image: url("./../assets/svg/bamboo-logo.svg");
  background-repeat: no-repeat;
  background-position: bottom 6px left 10px;
  border: 1.18841px solid #ffffff;
  padding: 2px;
  transition: transform 0.5s ease;
}
.logo__img:hover {
  filter: brightness(0) saturate(100%) invert(55%) sepia(97%) saturate(1154%) hue-rotate(350deg) brightness(102%) contrast(99%);
}

.logo__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  color: white;
  text-align: center;
  transition: all 0.5s ease;
}

@media (max-width: 999px) {
  .header__logo .logo__img {
    width: 47px;
    height: 29px;
    background-image: url("./../assets/svg/bamboo-logo-small.svg");
    background-position: bottom 1px left 2px;
    border: 0.768116px solid #ffffff;
  }
  .header__logo .logo__text {
    font-size: 12.2899px;
    line-height: 120%;
  }
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  min-width: 298px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: white;
  padding: 16px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  transition: all 1s ease;
}
.button.button--primary {
  border-radius: 25px;
}
.button.button--secondary {
  border-radius: 5px;
}
.button:hover {
  background: linear-gradient(113.96deg, #e47209 1.49%, #e47209 101.44%);
}
.button:active {
  background: #4b9200;
}
.button:disabled {
  background: #767474;
}

.button-ellipse {
  width: 62px;
  height: 62px;
  text-align: center;
  color: white;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 31px;
  border: none;
  cursor: pointer;
  transition: all 1s ease;
}
.button-ellipse:hover {
  background: linear-gradient(113.96deg, #e47209 1.49%, #e47209 101.44%);
}
.button-ellipse:active {
  background: #4b9200;
}
.button-ellipse:disabled {
  background: #767474;
}

.carousel-abd-buttons-wrapper {
  position: relative;
}

.carousel__wrapper {
  width: 1158px;
  overflow: hidden;
  margin: 0 auto;
}

.carousel {
  display: flex;
  position: relative;
  left: -100%;
}

.gallery {
  position: relative;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 366px);
  grid-template-rows: repeat(2, 426px);
  grid-column-gap: 30px;
  grid-row-gap: 20px;
}

.carousel__buttons {
  display: flex;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  justify-content: space-between;
  align-items: center;
}

.card {
  display: none;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  width: 100%;
  height: 426px;
  border-radius: 5px;
  border: 1px solid orange;
  overflow: hidden;
}
.card:hover {
  cursor: pointer;
}
.card:hover .card__img img {
  opacity: 0.7;
  transform: scale(1.1);
}
.card:hover .card__info-wrapper {
  opacity: 1;
}
.card:hover .card__info {
  transform: translate(0, -60px) scale(1.1);
  color: white;
  transition: transform 0.5s, color 0.5s;
}

.card {
  display: flex;
}

.card__img {
  display: inline-block; /* Строчно-блочный элемент */
  overflow: hidden; /* Скрываем всё за контуром */
  background: #000; /* У блока, оборачивающего картинку при наведении будет просвечивать черный фон */
}
.card__img img {
  max-width: 100%;
  width: 366px;
  height: 366px;
  opacity: 1;
  transition: opacity 0.2s linear, transform 0.2s linear; /* Плавное изменение прозрачности и увеличения */
  display: block; /* Убираем небольшой отступ снизу */
}

.card__info-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 8px 12px 8px 16px;
}

.card__info {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  transition: transform 0.1s, color 0.1s;
}
.card__info h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  text-align: start;
}

.banana-icon {
  width: 33px;
  height: 37px;
}

.meet-fish-icon {
  width: 48px;
  height: 38px;
}

.transition-right {
  animation-name: move-right;
  animation-duration: 1s;
}

.transition-left {
  animation-name: move-left;
  animation-duration: 1s;
}

@keyframes move-left {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
@keyframes move-right {
  from {
    left: -100%;
  }
  to {
    left: -200%;
  }
}
@media (max-width: 1400px) {
  .carousel__wrapper {
    width: 940px;
  }
  .gallery {
    grid-template-columns: repeat(3, 294px);
    grid-template-rows: repeat(2, 354px);
    grid-column-gap: 29px;
    grid-row-gap: 92px;
  }
  .card {
    width: 294px;
    height: 354px;
  }
  .card__img img {
    width: 294px;
    height: 294px;
  }
  .carousel__buttons {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 294px;
  }
}
@media (max-width: 999px) {
  .carousel__wrapper {
    width: 599px;
  }
  .gallery {
    grid-template-columns: repeat(2, 285px);
    grid-template-rows: repeat(2, 332px);
  }
  .card {
    width: 285px;
    height: 332px;
  }
  .card:nth-child(n+5) {
    display: none;
  }
  .card__img {
    width: 285px;
    height: 285px;
  }
  .card__img img {
    width: 285px;
    height: 285px;
  }
  .card__info-wrapper {
    padding: 6px 10px 10px 10px;
  }
  .card__info {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 120%;
    letter-spacing: -0.4px;
    line-height: 100%;
  }
  .card__info h3 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 140%;
  }
  .banana-icon {
    width: 25.72px;
    height: 28.84px;
  }
  .meet-fish-icon {
    width: 37.41px;
    height: 29.62px;
  }
  .carousel__buttons {
    width: 155px;
  }
}
@media (max-width: 639px) {
  #left-items,
#right-items {
    display: none;
  }
  .carousel {
    left: 0;
  }
  .carousel__wrapper {
    width: 285px;
  }
  .gallery {
    grid-template-columns: repeat(1, 285px);
    grid-row-gap: 20px;
  }
  .carousel__buttons {
    display: none;
  }
}
.subscribe-form .flex {
  margin-top: 13px;
}
.subscribe-form .subscribe-form__input {
  margin-right: 10px;
}

.subscribe-form__label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
}

.subscribe-form__input {
  width: 228px;
  height: 42px;
  border: solid 0.7px #fe9013;
  border-radius: 2px;
  padding-left: 10px;
  color: #bdbdbd;
  background-color: #111115;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}
.subscribe-form__input:focus:required:invalid, .subscribe-form__input:focus:required:invalid ~ .submit {
  border: 1px solid #d31414;
  color: #d31414;
}
.subscribe-form__input:focus:required, .subscribe-form__input:focus:required ~ .subscribe-form__button {
  border: 1px solid #4b9200;
  color: #4b9200;
}

.subscribe-form__button {
  width: 129px;
  height: 42px;
  color: black;
  border: 1px solid #333b41;
  background: #f1f3f2;
  border-radius: 5px;
}

.social-nav {
  display: flex;
  flex-direction: column;
}
.social-nav .social-nav-link:not(:last-of-type) {
  margin-bottom: 10px;
}

.social-nav-link {
  height: 26px;
  background-repeat: no-repeat;
  color: #ffffff;
  display: flex;
  transition: transform 0.5s ease;
}
.social-nav-link span {
  margin-top: 5px;
  margin-left: 38px;
}
.social-nav-link:hover {
  filter: brightness(0) saturate(100%) invert(55%) sepia(97%) saturate(1154%) hue-rotate(350deg) brightness(102%) contrast(99%);
}
.social-nav-link:active {
  filter: invert(33%) sepia(20%) saturate(1267%) hue-rotate(61deg) brightness(101%) contrast(101%);
}

.facebook {
  background-image: url("./../assets/svg/facebook.svg");
}

.twitter {
  background-image: url("./../assets/svg/twitter.svg");
}

.instagram {
  background-image: url("./../assets/svg/instagram.svg");
}

.youtube {
  background-image: url("./../assets/svg/youtube.svg");
}

.header {
  background-color: black;
  z-index: 10;
}
.header.not-active {
  z-index: 1;
}

.header__container {
  display: flex;
  align-items: center;
  min-height: 80px;
}

.header__logo-and-menu-wrapper {
  display: flex;
  align-items: center;
  flex: 1;
}

.header__logo {
  margin-right: 63px;
}

.header__menu-list li:last-of-type {
  margin-left: auto;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 22px;
  height: 18px;
  cursor: pointer;
  user-select: none;
  z-index: 2;
}

.line {
  width: 80%;
  height: 2px;
  background: white;
  margin: 1.5px 0;
  z-index: 10;
  transition: all 0.3s ease-in-out;
}

.hamburger.open-burger .line1 {
  transform: rotate(-45deg) translate(-5px, 3px);
}

.hamburger.open-burger .line2 {
  opacity: 0;
}

.hamburger.open-burger .line3 {
  transform: rotate(45deg) translate(-5px, -2px);
}

@media (max-width: 999px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  .header__container {
    display: flex;
    align-items: center;
    min-height: 34px;
  }
  .header__menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    height: 330px;
    background-color: white;
    padding: 82px 10px 40px 10px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .header__menu::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 70px;
    z-index: 2;
    background-color: white;
  }
  .header__menu-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: auto;
  }
  .header__menu-list .menu__link {
    display: block;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    line-height: 140%;
    color: #333b41;
  }
  .header__menu-list .menu__link.active-link {
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  }
  .header__menu-list .menu__link:hover, .header__menu-list .menu__link:active {
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  }
  .header__menu-list li:last-of-type {
    margin-left: 0;
  }
  .hamburger {
    display: flex;
  }
  .header.open-burger .container {
    padding: 10px;
  }
  .header.open-burger .header__container {
    align-items: flex-start;
  }
  .header.open-burger .header__menu {
    left: 0;
  }
  .header.open-burger .header__logo {
    z-index: 3;
  }
  .header.open-burger .header__logo .logo__img {
    width: 65.6px;
    height: 41.6px;
    background-image: url("./../assets/svg/bamboo-logo.svg");
    background-position: bottom 4px left 6px;
    filter: brightness(0) saturate(100%) invert(55%) sepia(97%) saturate(1154%) hue-rotate(350deg) brightness(102%) contrast(99%);
  }
  .header.open-burger .header__logo .logo__text {
    font-size: 15.2116px;
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  }
  .header.open-burger .hamburger .line {
    background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  }
}
.favorite-animal-section {
  padding-top: 86px;
  background-image: url("./../assets/images/giant_panda.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: -80px;
  background-size: 100%;
}
.favorite-animal-section .container {
  display: flex;
  justify-content: end;
}

.favorite-animal-section__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.favorite-animal-section__content .main-big-title {
  z-index: 2;
  margin-bottom: 60px;
}

.main-big-title {
  max-width: 500px;
  max-width: 500px;
  position: relative;
  color: white;
  font-weight: 700;
  font-size: 106.496px;
  line-height: 75%;
  text-transform: uppercase;
}
.main-big-title span {
  color: #ffee2e;
}
.main-big-title::before {
  content: "";
  position: absolute;
  width: 465px;
  height: 465px;
  bottom: 10px;
  right: 110px;
  z-index: -1;
  border-radius: 50%;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
}

.favorite-animal-section__button-container {
  margin-bottom: 100px;
}

@media (max-width: 1599px) {
  .favorite-animal-section {
    padding-top: 42px;
    background-image: url("./../assets/images/giant_panda_small_desctop.png");
    background-position-y: -80px;
    background-size: 100%;
  }
  .favorite-animal-section__content {
    margin-right: 57px;
  }
  .favorite-animal-section__content .main-big-title {
    margin-bottom: 40px;
  }
  .main-big-title {
    max-width: 400px;
    font-size: 85px;
  }
  .main-big-title::before {
    content: "";
    width: 367px;
    height: 367px;
    bottom: 5px;
    right: 90px;
  }
  .favorite-animal-section__button-container {
    margin-bottom: 47px;
  }
}
@media (max-width: 999px) {
  .favorite-animal-section {
    padding-top: 82px;
    background-position-y: 0;
  }
  .favorite-animal-section .container {
    display: block;
  }
  .favorite-animal-section__content {
    margin-right: 0;
  }
  .favorite-animal-section__content .main-big-title {
    align-self: flex-end;
    margin-bottom: 0;
    margin-right: -3px;
  }
  .favorite-animal-section__button-container {
    align-self: flex-start;
    margin-top: -7px;
  }
}
@media (max-width: 768px) {
  .main-big-title {
    max-width: 255px;
    font-size: 54.2894px;
  }
  .main-big-title::before {
    content: "";
    width: 237px;
    height: 237px;
    right: 55px;
  }
  .favorite-animal-section__button-container {
    margin-bottom: 40px;
  }
}
@media (max-width: 639px) {
  .favorite-animal-section__content .main-big-title {
    margin-bottom: 60px;
    margin-right: 0;
  }
  .favorite-animal-section {
    padding-top: 76px;
    background-position-y: 34px;
  }
  .favorite-animal-section .container {
    display: block;
  }
  .main-big-title {
    max-width: 128px;
    font-size: 28px;
  }
  .main-big-title::before {
    content: "";
    width: 119px;
    height: 119px;
    right: 28px;
  }
  .favorite-animal-section__button-container {
    align-self: center;
    margin-top: 0;
    margin-bottom: 0px;
  }
}
.backstage-section {
  background-image: url("./../assets/images/flower_foto1.png");
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: top 12px right -93px;
  padding: 140px 0 176px 0;
  padding-bottom: 176px;
}

.backstage-section__content {
  display: flex;
  gap: 87px;
  justify-content: space-between;
  align-items: flex-start;
}

.backstage-section__img {
  width: 609px;
  height: 408px;
  margin: 0;
  overflow: hidden;
  min-width: 455px;
}
.backstage-section__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.backstage-section__text {
  max-width: 40%;
  color: #333b41;
}
.backstage-section__text h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  margin-bottom: 20px;
}
.backstage-section__text p:first-of-type {
  margin-bottom: 54px;
}
.backstage-section__text p:last-of-type {
  line-height: 140%;
}
.backstage-section__text h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 34px;
}

@media (max-width: 1599px) {
  .backstage-section {
    background: none;
  }
  .backstage-section__content {
    gap: 32px;
  }
  .backstage-section {
    padding: 109px 0 142px 0;
  }
  .backstage-section__text {
    max-width: 50%;
    margin-top: -8px;
  }
}
@media (max-width: 999px) {
  .backstage-section {
    padding: 68px 0 80px 0;
    background-image: url("./../assets/images/flower_foto1.png");
    background-repeat: no-repeat;
    background-size: 231px 476px;
    background-position: top -6px right -103px;
  }
  .backstage-section__img {
    display: none;
  }
  .backstage-section__text {
    max-width: 82%;
  }
  .backstage-section__text h2 {
    margin-left: 4px;
    margin-bottom: 22px;
  }
  .backstage-section__text p:first-of-type {
    margin-bottom: 30px;
  }
  .backstage-section__text p:last-of-type {
    line-height: 137%;
  }
  .backstage-section__text h3 {
    margin-left: 4px;
    margin-bottom: 20px;
  }
}
@media (max-width: 639px) {
  .backstage-section {
    position: relative;
    padding: 40px 0 40px 0;
    background: none;
  }
  .backstage-section::after {
    position: absolute;
    content: "";
    display: block;
    width: 105px;
    height: 217px;
    background-image: url("./../assets/images/flower_foto1.png");
    background-repeat: no-repeat;
    background-size: 105px 217px;
    top: -36px;
    right: -74px;
  }
  .backstage-section__text {
    max-width: 100%;
  }
  .backstage-section__text h2 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    margin-left: 0;
    margin-bottom: 10px;
  }
  .backstage-section__text p:first-of-type {
    margin-bottom: 20px;
    margin-left: 2px;
  }
  .backstage-section__text p:last-of-type {
    margin-left: 0;
  }
  .backstage-section__text h3 {
    margin-left: 2px;
    margin-bottom: 10px;
  }
}
.pets-section {
  background: url("./../assets/images/palm_photo.png") bottom left/292px 460px no-repeat, url("./../assets/images/flower_foto3.png") bottom right/368px 275px no-repeat;
  padding-bottom: 100px;
}
.pets-section .container {
  max-width: 1400px;
}

.pets-section__button-container {
  margin-top: 80px;
}

@media (max-width: 1599px) {
  .pets-section {
    background: url("./../assets/images/palm_foto_small_desktop.png") no-repeat bottom left, url("./../assets/images/flower_foto3.png") no-repeat bottom right/241px 180px;
    padding-bottom: 140px;
  }
}
@media (max-width: 999px) {
  .pets-section {
    background: url("./../assets/images/palm_foto_tablet.png") no-repeat bottom left, url("./../assets/images/flower_foto3.png") no-repeat bottom right/175px 131px;
    padding-bottom: 100px;
  }
  .pets-section__button-container {
    margin-top: 60px;
  }
}
@media (max-width: 639px) {
  .pets-section {
    background: url("./../assets/images/palm_foto_mobile.png") no-repeat bottom left, url("./../assets/images/flower_foto3.png") no-repeat bottom -2px right -16px/85px 71px;
    padding-bottom: 60px;
  }
  .pets-section__button-container {
    margin-top: 20px;
  }
}
.pick-feed-section {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #febdab 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%);
  padding: 70px 0px 100px 0px;
}

.pick-feed-section__content {
  border-radius: 20px;
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
  padding: 40px 40px 60px 40px;
  color: #333b41;
}
.pick-feed-section__content .cards-instruction {
  margin-bottom: 62px;
}

.pick-feed-section__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  color: #fe9013;
  margin-bottom: 32px;
}

.pick-feed-section__font1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 40px;
}

.pick-feed-section__font2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  line-height: 130%;
  margin-bottom: 10px;
}

.pick-feed-section__font3 {
  margin-right: 150px;
  margin-bottom: 60px;
}
.pick-feed-section__font3 a {
  color: #333b41;
  border-bottom: 1px solid #fe9013;
}
.pick-feed-section__font3 a:hover {
  color: #fe9013;
}

.pick-feed-section__caption {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  margin-bottom: 40px;
}

.pick-feed-section__font1,
.pick-feed-section__font2,
.pick-feed-section__font3 {
  padding-left: 60px;
}

.cards-instruction {
  display: flex;
  justify-content: center;
  gap: 130px;
}

.instruction {
  position: relative;
  width: 168px;
}

.instruction-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 168px;
  height: 168px;
  border: solid 1px;
  border-radius: 5px;
  border-color: #fe9013;
  background-color: white;
}

.icon-pay {
  background-image: url("./../assets/svg/pay.svg");
  width: 108px;
  height: 60px;
}

.icon-zoo {
  background-image: url("./../assets/svg/zoo.svg");
  width: 86px;
  height: 95px;
}

.icon-monkey {
  background-image: url("./../assets/svg/monkey.svg");
  width: 126px;
  height: 73px;
}

.instruction__description {
  line-height: 140%;
  padding-top: 30px;
}

.instruction:not(:last-child):after {
  position: absolute;
  content: "";
  display: inline-block;
  background: url("./../assets/svg/vector.svg");
  background-repeat: no-repeat;
  width: 70px;
  height: 35.08px;
  right: -100px;
  top: 60px;
}

@media (max-width: 1599px) {
  .pick-feed-section {
    padding: 30px 0px 50px 0px;
  }
  .pick-feed-section__content {
    padding: 30px 48px 50px 49px;
  }
  .pick-feed-section__content .pick-feed-section__title {
    margin-bottom: 20px;
  }
  .pick-feed-section__content .pick-feed-section__font1,
.pick-feed-section__content .pick-feed-section__font2,
.pick-feed-section__content .pick-feed-section__font3 {
    padding-left: 0px;
  }
  .pick-feed-section__content .pick-feed-section__font1 {
    margin-bottom: 20px;
  }
  .pick-feed-section__content .pick-feed-section__font2 {
    margin-right: 30px;
  }
  .pick-feed-section__content .pick-feed-section__font3 {
    margin-right: 0px;
    margin-bottom: 40px;
  }
  .pick-feed-section__content .cards-instruction {
    margin-bottom: 70px;
  }
}
@media (max-width: 999px) {
  .pick-feed-section {
    padding: 20px 0px 20px 0px;
  }
  .pick-feed-section .container {
    padding: 0;
  }
  .pick-feed-section__content {
    padding: 10px 20px 60px 20px;
  }
  .pick-feed-section__content .pick-feed-section__title {
    margin-bottom: 20px;
  }
  .pick-feed-section__content .pick-feed-section__font2 {
    margin-right: 0px;
  }
  .pick-feed-section__content .pick-feed-section__font3 {
    margin-bottom: 30px;
  }
  .pick-feed-section__content .pick-feed-section__caption {
    margin-bottom: 20px;
  }
  .pick-feed-section__content .cards-instruction {
    margin-right: 12px;
    margin-bottom: 40px;
  }
  .pick-feed-section__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 120%;
  }
  .pick-feed-section__font1 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
  }
  .cards-instruction {
    gap: 42px;
  }
  .instruction:not(:last-child):after {
    position: absolute;
    content: "";
    display: inline-block;
    background: url("./../assets/images/arrow.png");
    background-repeat: no-repeat;
    width: 90px;
    height: 70px;
    right: -58px;
    top: -18px;
    z-index: 1;
  }
}
@media (max-width: 639px) {
  .pick-feed-section .container {
    padding: 0 10px;
  }
  .pick-feed-section__content {
    padding: 20px 0px 40px 0px;
  }
  .pick-feed-section__content .pick-feed-section__title {
    margin-bottom: 10px;
  }
  .pick-feed-section__content .pick-feed-section__font1 {
    margin-bottom: 20px;
    margin-right: 3px;
  }
  .pick-feed-section__content .pick-feed-section__font2,
.pick-feed-section__content .pick-feed-section__font3 {
    display: none;
  }
  .pick-feed-section__content .cards-instruction {
    margin-right: 0px;
    margin-left: 0;
    margin-bottom: 12px;
  }
  .pick-feed-section__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
  }
  .pick-feed-section__font1 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
  }
  .pick-feed-section__caption {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
  }
  .cards-instruction {
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }
  .cards-instruction .instruction {
    margin-bottom: 27px;
  }
  .cards-instruction .instruction:first-child {
    margin-bottom: 43px;
  }
  .instruction__description {
    padding-top: 10px;
  }
  .instruction:not(:last-child):after {
    transform: rotate(83deg);
    right: -41px;
    top: 175px;
  }
}
.testimonials-section {
  position: relative;
  padding: 140px 0 180px 0;
}
.testimonials-section::before {
  content: "";
  position: absolute;
  background: url("./../assets/images/leav_foto.png") 0 0 no-repeat;
  width: 300.92px;
  height: 295.45px;
  bottom: -19px;
  right: -53px;
  z-index: -1;
}
.testimonials-section h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #333b41;
  margin-bottom: 46px;
}
.testimonials-section .testimonials-cards-container {
  margin-bottom: 21px;
}
.testimonials-section .testimonials-cards {
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 31px;
}

.testimonials-cards {
  width: 1160px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonials-cards ::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 115px;
  height: 6px;
  border-radius: 5px;
  background: #fe9013;
  cursor: pointer;
}

.testimonials-cards-container {
  display: flex;
  margin: 0 auto;
  position: relative;
  justify-content: center;
  gap: 29px;
  left: 0;
  transition-duration: 0.5s;
  transform: translate(0px);
}

.testimonials-section__button-container {
  justify-content: flex-start;
}

.line-scroll {
  appearance: none;
  width: 600px;
  height: 8px;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
  border: solid 0.5px transparent;
  background: linear-gradient(#f1f3f2, #f1f3f2) padding-box, linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%) border-box;
  border-radius: 5px;
}
.line-scroll:hover {
  opacity: 1;
}

.testimonials-card {
  width: 268px;
  height: 391px;
  border-radius: 20px;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
  background: #f1f3f2;
  background: linear-gradient(#f1f3f2, #f1f3f2) padding-box, linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%) border-box;
  border: solid 2px transparent;
  padding: 15px 15px 15px 15px;
}
.testimonials-card .testimonials-card__user {
  margin-bottom: 10px;
}

.user-photo {
  width: 37px;
  height: 37px;
}

.user-information {
  margin-left: 10px;
}
.user-information .user-name {
  line-height: 120%;
}
.user-information .local-date {
  display: flex;
  align-items: center;
}
.user-information .local,
.user-information .date {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #bdbdbd;
}
.user-information .point {
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: #bdbdbd;
  margin: 0 5px;
}

.testimonials-card__text {
  height: 309px;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #767474;
  overflow: hidden;
}

.popup-card {
  padding: 20px 36px 17px 17px;
  background: #f1f3f2;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: 200ms ease-in-out;
  z-index: 10;
}
.popup-card .testimonials-card {
  width: 248px;
  height: 391px;
}

.x-icon {
  cursor: pointer;
  position: absolute;
  top: 17px;
  right: 32px;
}
.x-icon::before, .x-icon::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
}
.x-icon::before {
  transform: rotate(45deg);
}
.x-icon::after {
  transform: rotate(-45deg);
}

@media (max-width: 1599px) {
  .testimonials-section {
    padding: 100px 0 140px 0;
  }
  .testimonials-section::before {
    background-size: 200px 323px;
    width: 200px;
    height: 323px;
    bottom: -84px;
    right: 0px;
  }
  .testimonials-section h2 {
    margin-bottom: 32px;
  }
  .testimonials-section .testimonials-cards {
    margin-bottom: 52px;
  }
  .testimonials-section .testimonials-cards ::-webkit-slider-thumb {
    width: 75px;
  }
  .testimonials-section .line-scroll {
    margin-right: 12px;
  }
  .testimonials-cards {
    width: 940px;
  }
  .testimonials-card {
    padding: 12px 15px 8px 10px;
    width: 293px;
  }
  .line-scroll {
    width: 390px;
  }
}
@media (max-width: 999px) {
  .testimonials-section {
    padding: 60px 0 80px 0;
  }
  .testimonials-section::before {
    background-size: 116px 204px;
    width: 116px;
    height: 204px;
    bottom: -69px;
    right: -4px;
  }
  .testimonials-section h2 {
    margin-bottom: 30px;
  }
  .testimonials-section .testimonials-cards {
    margin-bottom: 40px;
  }
  .testimonials-section .testimonials-cards-container {
    margin-bottom: 0px;
  }
  .testimonials-cards {
    width: 100%;
  }
  .testimonials-cards-container {
    flex-direction: column;
    gap: 15px;
  }
  .testimonials-card:nth-child(n+4) {
    display: none;
  }
  .testimonials-section__button-container {
    justify-content: center;
  }
  .testimonials-section__button-container .button {
    min-width: 240px;
  }
  .testimonials-card {
    width: 100%;
    height: 109px;
  }
  .testimonials-card .testimonials-card__user {
    margin-bottom: 11px;
  }
  .testimonials-card .testimonials-card__text {
    margin-left: 6px;
  }
  .line-scroll {
    display: none;
  }
}
@media (max-width: 639px) {
  .testimonials-section {
    padding: 30px 0 60px 0;
  }
  .testimonials-section::before {
    background: url("./../assets/images/leav_foto_mobile.png") 0 0 no-repeat;
    background-size: 51px 94px;
    width: 51px;
    height: 94px;
    bottom: -29px;
    right: 0px;
  }
  .testimonials-section h2 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 20px;
  }
  .testimonials-section .testimonials-cards {
    margin-bottom: 30px;
  }
  .testimonials-card {
    padding: 7px 15px 10px 10px;
  }
  .testimonials-card .testimonials-card__user {
    margin-bottom: 9px;
  }
  .testimonials-card .testimonials-card__user .user-information {
    margin-left: 7px;
    margin-top: 2px;
  }
}
.footer {
  width: 100%;
  height: 443px;
  padding: 40px 0 50px 0;
  color: white;
  background: #111115;
  z-index: 1;
}

.footer__logo-subscribe-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 36px;
}

.footer__logo {
  align-self: flex-start;
}

.footer__button-container {
  justify-content: flex-start;
  margin-bottom: 44px;
}

.footer__bottom-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-end;
}

.footer__menu {
  width: 364px;
  margin-left: 79px;
}

.designed-by-text {
  font-weight: 100;
  font-size: 16px;
  line-height: 130%;
}
.designed-by-text p:not(:last-of-type) {
  margin-bottom: 10px;
}

@media (max-width: 1599px) {
  .footer__subscribe-form {
    margin-right: 34px;
  }
  .footer__menu {
    margin-left: 83px;
  }
}
@media (max-width: 999px) {
  .footer {
    height: 282px;
    position: relative;
    padding: 13px 0 12px 0;
  }
  .footer__subscribe-form {
    display: none;
  }
  .footer__logo-subscribe-container {
    margin-bottom: 32px;
  }
  .footer__social-nav {
    position: absolute;
    top: 11px;
    right: 8px;
  }
  .footer__social-nav .social-nav-link span:first-child {
    display: none;
  }
  .footer__social-nav .social-nav-link:not(:last-of-type) {
    margin-bottom: 20px;
  }
  .footer__button-container {
    margin-bottom: 67px;
  }
  .footer__menu {
    margin-left: 0px;
  }
}
@media (max-width: 639px) {
  .footer {
    height: 334px;
    padding: 20px 0 20px 0;
  }
  .footer__logo-subscribe-container {
    display: block;
    margin-bottom: 84px;
  }
  .footer__logo .logo__img {
    width: 132px;
    margin: 0 auto;
    height: auto;
    border: none;
    background-position: bottom 6px left 74px;
  }
  .footer__social-nav {
    flex-direction: row;
    top: 72px;
    right: 50px;
  }
  .footer__social-nav .social-nav-link:not(:last-of-type) {
    margin-right: 18px;
    margin-bottom: 0px;
  }
  .footer__button-container {
    margin-bottom: 30px;
  }
  .footer__bottom-block {
    flex-flow: column-reverse;
  }
  .footer__bottom-block .designed-by-text {
    margin-bottom: 30px;
  }
  .designed-by-text {
    font-size: 15px;
    line-height: 120%;
  }
  .designed-by-text p:not(:last-of-type) {
    margin-bottom: 13px;
  }
  .footer__menu {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.top-section {
  min-height: 386px;
  background: url("./../assets/images/panda_bg.jpg") center no-repeat;
  background-size: cover;
}

.donate-page .pick-feed-section {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #febdab 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%);
  padding: 40px 0px 180px 0px;
}
.donate-page .pick-feed-section__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: white;
  margin-bottom: 9px;
}
.donate-page .pick-feed-section__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: white;
  margin-bottom: 45px;
}
.donate-page .pick-feed-section__caption {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #fe9013;
  margin-bottom: 60px;
}

.donate {
  border-radius: 20px;
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
  padding: 40px 92px 62px 92px;
  color: #333b41;
}
.donate .donate-form {
  margin-bottom: 30px;
}

.donate__diet-info {
  margin: 0 11px 50px 0;
}

.donate__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  color: #fe9013;
  margin-bottom: 20px;
  margin-right: 11px;
}

.donate__subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 60px;
  margin-left: 2px;
}

.diet-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
}

.diet-info__days {
  position: relative;
  padding-top: 60px;
}
.diet-info__days p:first-of-type {
  font-weight: 500;
  font-size: 72px;
  line-height: 80%;
  text-align: center;
  color: black;
  margin-bottom: 15px;
}
.diet-info__days::before {
  position: absolute;
  background-image: url("./../assets/svg/x_icon.svg");
  background-repeat: no-repeat;
  content: "";
  width: 14px;
  height: 14px;
  top: 85px;
  right: -25px;
}

.diet-info__img {
  width: 284px;
  height: 246px;
}

.donate-form__progress-bar {
  margin-bottom: 50px;
}

.donate-form__amount {
  margin-left: 4px;
  margin-bottom: 26px;
}

.donate-form__options {
  margin-right: 11px;
}

.progress-bar__title {
  margin-left: 5px;
  margin-bottom: 17px;
}

.progress-bar__background {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 27px;
  background: #404950;
  border-radius: 2px;
  margin-bottom: 13px;
}

.progress-bar__background-line {
  width: 93%;
  height: 2px;
  background: #72828e;
  z-index: 1;
}

fieldset {
  border: 0 none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.progress-bar__input:checked,
.progress-bar__input:not(:checked) {
  display: none;
}

.progress-bar__label {
  position: relative;
  width: 65px;
  display: inline-block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 140%;
  color: #333b41;
}

.progress-bar__input:not(:checked) + label,
.progress-bar__input:checked + label {
  cursor: pointer;
}
.progress-bar__input:not(:checked) + label::before,
.progress-bar__input:checked + label::before {
  content: "";
  position: absolute;
  left: 28px;
  bottom: 57px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffee2e;
  z-index: 2;
}
.progress-bar__input:not(:checked) + label::after,
.progress-bar__input:checked + label::after {
  content: "";
  position: absolute;
  left: 13px;
  bottom: 43px;
  width: 40px;
  height: 40px;
  background: url("./../assets/svg/roller_icon.svg") no-repeat;
  z-index: 3;
}

.progress-bar__input:not(:checked) + label:after {
  opacity: 0;
}

.progress-bar__input:checked + label::after {
  position: absolute;
  left: 13px;
  bottom: 43px;
  transition: all 250ms cubic-bezier(0.4, 0.25, 0.3, 1);
  content: "";
  width: 40px;
  height: 40px;
  background: url("./../assets/svg/roller_icon.svg") no-repeat;
}

.progress-bar__input:checked + label,
.progress-bar__input:checked + label:hover,
.progress-bar__input:not(:checked) + label:hover {
  color: #fe9013;
}
.progress-bar__input:checked + label::before,
.progress-bar__input:checked + label:hover::before,
.progress-bar__input:not(:checked) + label:hover::before {
  background-color: #fe9013;
}

input[type=number] {
  margin: 0 auto;
  width: 268px;
  height: 52px;
  border: 1px solid #929699;
  border-radius: 2px;
  font-size: 16px;
  line-height: 140%;
  padding: 16px 9px;
  background: url("./../assets/svg/dollar.svg") center right 10px no-repeat;
}
input[type=number]:focus {
  outline: 1px solid #4b9200;
  border: 0;
  color: #4b9200;
  background: url("./../assets/svg/greenDollar.svg") center right 10px no-repeat;
}
input[type=number]:invalid, input[type=number]:invalid ~ .submit {
  outline: 1px solid #d31414;
  border: 0;
  color: #d31414;
  background: url("./../assets/svg/redDollar.svg") center right 10px no-repeat;
}

input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  display: none;
}

.donate-form__options {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.donate-form__options div:not(:last-child) {
  margin-right: 50px;
}

.options__input {
  display: none;
}

.options__label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  user-select: none;
}

.options__label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #fe9013;
  border-radius: 50%;
  margin-right: 6px;
}

.donate-form__options input[type=radio]:checked + label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #4b9200;
  border: 1px solid #4b9200;
  border-radius: 50%;
  margin-right: 6px;
}

@media (max-width: 1599px) {
  .top-section {
    min-height: 390px;
    background: url("./../assets/images/panda_bg_donate_desctop.png") center bottom no-repeat;
    background-size: cover;
  }
  .donate-page .pick-feed-section {
    padding: 40px 0px 30px 0px;
  }
  .donate-page .pick-feed-section__title {
    margin-bottom: 30px;
    margin-right: 100px;
  }
  .donate-page .pick-feed-section__text {
    margin-bottom: 45px;
  }
  .donate-page .pick-feed-section__caption {
    margin-bottom: 40px;
  }
  .donate-page .footer .footer__menu {
    margin-left: 82px;
    width: 333px;
  }
  .donate {
    padding: 20px 44px 46px 44px;
  }
  .donate .donate-form {
    margin-bottom: 30px;
  }
  .donate__title {
    margin: 0px 13px 10px 0px;
  }
  .donate__subtitle {
    margin-bottom: 60px;
  }
  .progress-bar__title {
    margin-left: 20px;
  }
  .progress-bar__background {
    margin: 0px 20px 13px 20px;
  }
  .progress-bar__background-line {
    width: 97%;
  }
  fieldset {
    margin-left: 17px;
  }
  #value5000 + label {
    display: none;
  }
  .progress-bar__label {
    width: 130px;
  }
  .progress-bar__input:not(:checked) + label::before,
.progress-bar__input:checked + label::before {
    content: "";
    left: 15px;
  }
  .progress-bar__input:not(:checked) + label::after,
.progress-bar__input:checked + label::after {
    content: "";
    left: 0px;
  }
  .donate-form__amount {
    margin-left: 0px;
  }
  .donate-form__options {
    margin-right: 19px;
  }
}
@media (max-width: 999px) {
  .top-section {
    min-height: 369px;
    background: url("./../assets/images/panda_bg_donate_tablet.png") center bottom no-repeat;
    background-size: 100%;
  }
  .donate-page .container {
    padding: 0 20px;
  }
  .donate-page .pick-feed-section {
    padding: 30px 0px 46px 0px;
  }
  .donate-page .pick-feed-section__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 20px;
    margin-right: 0px;
  }
  .donate-page .pick-feed-section__text {
    margin-bottom: 30px;
  }
  .donate-page .pick-feed-section__caption {
    margin-bottom: 30px;
  }
  .donate-page .footer .footer__menu {
    margin-left: 0px;
    width: 300px;
  }
  .donate {
    padding: 30px 0px 31px 0px;
  }
  .donate__title {
    margin-bottom: 20px;
    margin-right: 0px;
  }
  .donate__subtitle {
    margin-bottom: 50px;
    margin-right: 0px;
    text-align: center;
  }
  .donate__diet-info {
    margin: 0 11px 42px 0;
  }
  .diet-info__days {
    padding-top: 57px;
  }
  .diet-info__days p:first-of-type {
    margin-bottom: 10px;
  }
  .diet-info__days::before {
    top: 81px;
  }
  .progress-bar__background {
    margin-bottom: 13px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .progress-bar__background-line {
    width: 87%;
  }
  .progress-bar__title {
    margin-left: 10px;
    margin-bottom: 5px;
  }
  #value2000 + label,
#value1000 + label {
    display: none;
  }
  .progress-bar__input:not(:checked) + label::before,
.progress-bar__input:checked + label::before {
    content: "";
    left: 18px;
  }
  .progress-bar__input:not(:checked) + label::after,
.progress-bar__input:checked + label::after {
    content: "";
    left: 2px;
  }
  input[type=number] {
    width: 180px;
    height: 42px;
  }
  .donate-form__amount {
    margin-bottom: 31px;
  }
}
@media (max-width: 639px) {
  .top-section {
    min-height: 221px;
    background: url("./../assets/images/panda_bg_donate_mobile.png") center bottom no-repeat;
    background-size: 100%;
  }
  .donate-page .container {
    padding: 0 10px;
  }
  .donate-page .pick-feed-section__caption {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 30px;
  }
  .donate-page .pick-feed-section__text {
    margin-bottom: 26px;
  }
  .donate-page .pick-feed-section {
    padding: 30px 0px 22px 0px;
  }
  .donate {
    padding: 20px 0px 20px 0px;
  }
  .donate .centered-text {
    margin-left: -1px;
  }
  .donate__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 11px;
  }
  .donate__subtitle {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    margin-bottom: 12px;
    margin-right: 0px;
    text-align: center;
  }
  .diet-info {
    gap: 50px;
  }
  .donate__diet-info {
    margin: 0px;
    margin-bottom: 4px;
  }
  .diet-info__img {
    width: 160.15px;
    height: 138.72px;
  }
  .diet-info__days {
    padding-top: 30px;
  }
  .diet-info__days p:first-of-type {
    font-size: 40.6015px;
    margin-bottom: 8px;
  }
  .diet-info__days p:last-child {
    font-weight: 400;
    font-size: 9.02255px;
    line-height: 140%;
  }
  .diet-info__days::before {
    background-image: url("./../assets/svg/x_icon_small.svg");
    width: 8px;
    top: 44px;
    right: -13px;
  }
  .donate-form__progress-bar {
    margin-bottom: 25px;
  }
  .progress-bar__background {
    height: 13.5px;
    margin-bottom: 5px;
  }
  .progress-bar__title {
    margin-left: 0px;
    margin-bottom: 8px;
  }
  .progress-bar__label {
    width: 74px;
    font-size: 13px;
    margin-left: -9px;
  }
  .progress-bar__input:not(:checked) + label::before,
.progress-bar__input:checked + label::before {
    content: "";
    left: 9px;
    bottom: 29px;
    width: 5px;
    height: 5px;
  }
  .progress-bar__input:not(:checked) + label::after,
.progress-bar__input:checked + label::after {
    content: "";
    left: 2px;
    bottom: 21px;
    width: 20px;
    height: 20px;
    background: url("./../assets/svg/roller_icon_small.svg") no-repeat;
  }
  .progress-bar__input:not(:checked) + label::after,
.progress-bar__input:checked + label::after {
    content: "";
    left: 2px;
    bottom: 21px;
    width: 20px;
    height: 20px;
    background: url("./../assets/svg/roller_icon_small.svg") no-repeat;
  }
  .donate-form__amount {
    margin-bottom: 24px;
  }
  .donate-form__options {
    margin-right: 21px;
    margin-bottom: 27px;
  }
}

/*# sourceMappingURL=style.css.map */
